SetEnv MYSQLHOST 192.168.122.177
PassEnv MYSQLHOST
SetEnv MYSQLLOGIN adv
PassEnv MYSQLLOGIN
SetEnv MYSQLBASE adv
PassEnv MYSQLBASE
SetEnv MYSQLUSER adv
PassEnv MYSQLUSER
SetEnv MYSQLPASSWORD adv
PassEnv MYSQLPASSWORD
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
